{:deps true
 :dev-http {8001 "resources/public"}
 :builds
 {:example {:target :browser
            :output-dir "resources/public/js"
            :asset-path "/js"
            :modules {:main {:entries [cljs-wc.demo]}}}}}
